@page "/qrcode"
@inject HttpClient Http
@if (contents == null){<p><em>Loading...</em></p>}else {@foreach (var content in contents){
<PageTitle>@content.Qr</PageTitle>
<HeadContent>
<meta name="description" content="@content.Qrdeskripsi">
<meta content='@content.Qr' property='og:title'/>
<meta content='https://www.fiverr.com/creativitas/create-your-custom-website-and-app' property='og:author'/>
<meta content='@content.Qr' name='facebook:title'/>
<meta content='website' property='og:type'/>
<meta content='https://www.facebook.com/mesinkasircomplete' property='facebook:author'/>
<meta content='@content.Cover' name='facebook:image'/>
<meta content='@content.Qr' property='og:site_name'/>
<meta content='@content.Qrdeskripsi' property='facebook:description'/>
<meta content='summary_large_image' name='twitter:card'/>
<meta content='https://twitter.com/hockeycomp' property='twitter:author'/>
<meta content='@content.Cover' name='twitter:image'/>
<meta content='@content.Qrdeskripsi' name='twitter:description'/>
<meta content='@content.Qr' name='twitter:title'/>
<meta name="robots" content="index, follow">
</HeadContent>
<h1><strong><a href="/">@content.Qr</a></strong></h1>
<h2>@content.Qrdeskripsi</h2>
<div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/@content.Qrembed" title="@content.Qr" allowfullscreen></iframe>
</div>
<p>@content.Qrtext</p>
}}
@code {
    private QrContent[]? contents;
    protected override async Task OnInitializedAsync()
    {
        contents = await Http.GetFromJsonAsync<QrContent[]>("data/page.json");
    }
    public class QrContent
    {
        public string? Qr { get; set; }
        public string? Qrembed { get; set; }
        public string? Qrdeskripsi { get; set; }
        public string? Qrtext { get; set; }
        public string? Cover { get; set; }
    }
}